import { navbar } from "vuepress-theme-hope"; # Остаётся

export default navbar([
  {
    "text": "Главная",
    "link": "/"
  },
  {
    "text": "Начинающим пользователям",
    "link": "/beginners/"
  },
  {
    "text": "Аналитикам",
    "link": "/analytics/"
  },
  {
    "text": "Архитекторам",
    "link": "/architects/"
  },
  {
    "text": "Администраторам",
    "link": "/admins/"
  },
  {
    "text": "Согласующим",
    "link": "/approvals/"
  },
  {
    "text": "Всем",
    "link": "/all/"
  }
]);
